# Comparison of Pandas vs R & Dplyr - from a Python user's perspective

Pandas & R comparison documentation: https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_r.html
<br> Dplyr Documentation & Cheatsheet: https://dplyr.tidyverse.org/

In [2]:
# !pip install pandas, rpy2

## Imports

In [3]:
import pandas as pd
import numpy as np

In [4]:
# enable ipython R magic commands
# ensure that the R_HOME environmental variable is set to your R installation folder. eg. C:\Program Files\R\R-4.4.0 or

# Manually setting envrionment variable, if necessary
# import os
# os.environ['R_HOME'] = 'C:/Program Files/R/R-4.4.0'

%load_ext rpy2.ipython

c:\Users\sjdud\anaconda3\envs\rpy2\Lib\site-packages\rpy2\robjects\packages.py:367: UserWarning: The symbol 'quartz' is not in this R namespace/package.
  warnings.warn(

In [5]:
# load rpy2 for working with R within Python
import rpy2.robjects as ro
from rpy2.robjects.packages import importr

utils = importr('utils') # R utils for installing packages in R

In [6]:
# install dplyr, tibble in R, if necessary
# utils.install_packages('dplyr') # Note R commands like install.packages are translated to install_packages by rpy2
# utils.install_packages('tibble')

# Alternative: Install tidyverse which installs several pacakges including dplyr, tibble, ggplot2 and others.
# utils.install_packages('tidyverse')

#load dplyr (R's pandas equivalent)
dplyr = importr('dplyr')
tibble = importr('tibble')

## Ipython Magic commands %R (inline) and %%R (cell)

In [7]:
# Python
x= np.pi
print(x)

3.141592653589793

In [8]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'get_ipython().run_cell_magic(\'R\', \'\', "# Dplyr\\n# mutate() creates new variable(column)\\n# .keep=\'none\' will not return columns used to create new variable\\nmtcars_r |> rowwise() |> mutate(total=mean(c_across(everything())), .keep=\'none\') |>head(5)\\n")',
  '# !pip install pandas, rpy2',
  'import pandas as pd\nimport numpy as np',
  "# enable ipython R magic commands\n# ensure that the R_HOME environmental variable is set to your R installation folder. eg. C:\\Program Files\\R\\R-4.4.0 or\n\n# Manually setting envrionment variable, if necessary\n# import os\n# os.environ['R_HOME'] = 'C:/Program Files/R/R-4.4.0'\n\nget_ipython().run_line_magic('load_ext', 'rpy2.ipython')",
  "# load rpy2 for working with R within Python\nimport rpy2.robjects as ro\nfrom rpy2.robjects.packages import importr\n\nutils = importr('utils') # R utils for installing packages in R",
  "# install dplyr, tibble in R, if necessary\n# utils.install_packages('dplyr') # Note R commands like install.packages are translated to install_packages by rpy2\n# utils.install_packages('tibble')\n\n# Alternative: Install tidyverse which installs several pacakges including dplyr, tibble, ggplot2 and others.\n# utils.install_packages('tidyverse')\n\n#load dplyr (R's pandas equivalent)\ndplyr = importr('dplyr')\ntibble = importr('tibble')",
  '# Python\nx= np.pi\nprint(x)',
  'locals()'],
 '_oh': {},
 '_dh': [WindowsPath('c:/Users/sjdud/OneDrive/Visual Studio/Rpy2 and R')],
 'In': ['',
  'get_ipython().run_cell_magic(\'R\', \'\', "# Dplyr\\n# mutate() creates new variable(column)\\n# .keep=\'none\' will not return columns used to create new variable\\nmtcars_r |> rowwise() |> mutate(total=mean(c_across(everything())), .keep=\'none\') |>head(5)\\n")',
  '# !pip install pandas, rpy2',
  'import pandas as pd\nimport numpy as np',
  "# enable ipython R magic commands\n# ensure that the R_HOME environmental variable is set to your R installation folder. eg. C:\\Program Files\\R\\R-4.4.0 or\n\n# Manually setting envrionment variable, if necessary\n# import os\n# os.environ['R_HOME'] = 'C:/Program Files/R/R-4.4.0'\n\nget_ipython().run_line_magic('load_ext', 'rpy2.ipython')",
  "# load rpy2 for working with R within Python\nimport rpy2.robjects as ro\nfrom rpy2.robjects.packages import importr\n\nutils = importr('utils') # R utils for installing packages in R",
  "# install dplyr, tibble in R, if necessary\n# utils.install_packages('dplyr') # Note R commands like install.packages are translated to install_packages by rpy2\n# utils.install_packages('tibble')\n\n# Alternative: Install tidyverse which installs several pacakges including dplyr, tibble, ggplot2 and others.\n# utils.install_packages('tidyverse')\n\n#load dplyr (R's pandas equivalent)\ndplyr = importr('dplyr')\ntibble = importr('tibble')",
  '# Python\nx= np.pi\nprint(x)',
  'locals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000016A469C4210>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x16a469cc710>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x16a469cc710>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '__vsc_ipynb_file__': "c:\\Users\\sjdud\\OneDrive\\Visual Studio\\Rpy2 and R\\Comparison of Pandas vs R & Dplyr - from a Python user's perspective.ipynb",
 '_i': '# Python\nx= np.pi\nprint(x)',
 '_ii': "# install dplyr, tibble in R, if necessary\n# utils.install_packages('dplyr') # Note R commands like install.packages are translated to install_packages by rpy2\n# utils.install_packages('tibble')\n\n# Alternative: Install tidyverse which installs several pacakges including dplyr, tibble, ggplot2 and others.\n# utils.install_packages('tidyverse')\n\n#load dplyr (R's pandas equivalent)\ndplyr = importr('dplyr')\ntibble = importr('tibble')",
 '_iii': "# load rpy2 for working with R within Python\nimport rpy2.robjects as ro\nfrom rpy2.robjects.packages import importr\n\nutils = importr('utils') # R utils for installing packages in R",
 '_i1': "%%R\n# Dplyr\n# mutate() creates new variable(column)\n# .keep='none' will not return columns used to create new variable\nmtcars_r |> rowwise() |> mutate(total=mean(c_across(everything())), .keep='none') |>head(5)",
 '_i2': '# !pip install pandas, rpy2',
 '_i3': 'import pandas as pd\nimport numpy as np',
 'pd': <module 'pandas' from 'c:\\Users\\sjdud\\anaconda3\\envs\\rpy2\\Lib\\site-packages\\pandas\\__init__.py'>,
 'np': <module 'numpy' from 'c:\\Users\\sjdud\\anaconda3\\envs\\rpy2\\Lib\\site-packages\\numpy\\__init__.py'>,
 '_i4': "# enable ipython R magic commands\n# ensure that the R_HOME environmental variable is set to your R installation folder. eg. C:\\Program Files\\R\\R-4.4.0 or\n\n# Manually setting envrionment variable, if necessary\n# import os\n# os.environ['R_HOME'] = 'C:/Program Files/R/R-4.4.0'\n\n%load_ext rpy2.ipython ",
 '_i5': "# load rpy2 for working with R within Python\nimport rpy2.robjects as ro\nfrom rpy2.robjects.packages import importr\n\nutils = importr('utils') # R utils for installing packages in R",
 'ro': <module 'rpy2.robjects' from 'c:\\Users\\sjdud\\anaconda3\\envs\\rpy2\\Lib\\site-packages\\rpy2\\robjects\\__init__.py'>,
 'importr': <function rpy2.robjects.packages.importr(name: str, lib_loc=None, robject_translations={}, signature_translation=True, suppress_messages=True, on_conflict='fail', symbol_r2python=<function default_symbol_r2python at 0x0000016A47E91940>, symbol_resolve=<function default_symbol_resolve at 0x0000016A47E919E0>, data=True)>,
 'utils': rpy2.robjects.packages.Package as a <module 'utils'>,
 '_i6': "# install dplyr, tibble in R, if necessary\n# utils.install_packages('dplyr') # Note R commands like install.packages are translated to install_packages by rpy2\n# utils.install_packages('tibble')\n\n# Alternative: Install tidyverse which installs several pacakges including dplyr, tibble, ggplot2 and others.\n# utils.install_packages('tidyverse')\n\n#load dplyr (R's pandas equivalent)\ndplyr = importr('dplyr')\ntibble = importr('tibble')",
 'dplyr': rpy2.robjects.packages.Package as a <module 'dplyr'>,
 'tibble': rpy2.robjects.packages.Package as a <module 'tibble'>,
 '_i7': '# Python\nx= np.pi\nprint(x)',
 'x': 3.141592653589793,
 '_i8': 'locals()'}

In [9]:
# Running inline R code
%R my_pi <- pi # This is inline R code (base::pi). pi is in-built in R

array([3.14159265])

In [10]:
%%R
my_pi # running R code in a cell

[1] 3.141593

In [11]:
%%R
ls() # View the R environment namespace

[1] "my_pi"

## Loading Datasets

In [12]:
%%R
# R: mtcars dataset is built-in in R
data(mtcars) # loading built-in dataset
mtcars_r <- mtcars # variable assignment
head(mtcars_r, 5) # or mtcars r %>% head(5) or mtcars_r |> head(5)

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2

In [13]:
# Python. converting an R dataframe to Pandas dataframe
from rpy2.robjects import pandas2ri

r = ro.r

# Recommended method of converting R to Pandas and vice versa using a context manager
with (ro.default_converter + pandas2ri.converter).context():
    mtcars_pd = ro.conversion.get_conversion().rpy2py(r('mtcars_r'))

mtcars_pd.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

In [14]:
# Access R Namespace from Python
r = ro.r
r('mtcars_r |> head(3)') # input is a string containing R commands

<rpy2.robjects.vectors.DataFrame object at 0x0000016A4C7A7C90> [19]
R classes: ('data.frame',)
[FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  mpg: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A47E94890> [14]
R classes: ('numeric',)
[21.000000, 21.000000, 22.800000]
  cyl: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F972850> [14]
R classes: ('numeric',)
[6.000000, 6.000000, 4.000000]
  disp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9ACE50> [14]
R classes: ('numeric',)
[160.000000, 160.000000, 108.000000]
  hp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9AF7D0> [14]
R classes: ('numeric',)
[110.000000, 110.000000, 93.000000]
...
  wt: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9AF0D0> [14]
R classes: ('numeric',)
[0.000000, 0.000000, 1.000000]
  qsec: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9AF090> [14]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000]
  vs: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9AEA50> [14]
R classes: ('numeric',)
[4.000000, 4.000000, 4.000000]
  am: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9AE350> [14]
R classes: ('numeric',)
[4.000000, 4.000000, 1.000000]

## Assigning R objects to Python namespace
* Interoperability with pandas documentation: https://rpy2.github.io/doc/latest/html/pandas.html

In [15]:
r_pi = r('pi')
print(r_pi) # Note: Array of length 1
print(r_pi[0]) # To access the actual values, the array must be indexed

[1] 3.141593

3.141592653589793

### R Dataframe to Python/Pandas Dataframe

In [16]:
r_mt_rdf = r('mtcars_r')
print(type(r_mt_rdf))
r_mt_rdf # Note: This is an R dataframe, not a Pandas dataframe

<class 'rpy2.robjects.vectors.DataFrame'>

<rpy2.robjects.vectors.DataFrame object at 0x0000016A4F99BC50> [19]
R classes: ('data.frame',)
[FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  mpg: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9C97D0> [14]
R classes: ('numeric',)
[21.000000, 21.000000, 22.800000, 21.400000, ..., 15.800000, 19.700000, 15.000000, 21.400000]
  cyl: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9C9650> [14]
R classes: ('numeric',)
[6.000000, 6.000000, 4.000000, 6.000000, ..., 8.000000, 6.000000, 8.000000, 4.000000]
  disp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9C9DD0> [14]
R classes: ('numeric',)
[160.000000, 160.000000, 108.000000, 258.000000, ..., 351.000000, 145.000000, 301.000000, 121.000000]
  hp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CA050> [14]
R classes: ('numeric',)
[110.000000, 110.000000, 93.000000, 110.000000, ..., 264.000000, 175.000000, 335.000000, 109.000000]
...
  wt: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CA410> [14]
R classes: ('numeric',)
[0.000000, 0.000000, 1.000000, 1.000000, ..., 0.000000, 0.000000, 0.000000, 1.000000]
  qsec: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CA590> [14]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 0.000000, ..., 1.000000, 1.000000, 1.000000, 1.000000]
  vs: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CA850> [14]
R classes: ('numeric',)
[4.000000, 4.000000, 4.000000, 3.000000, ..., 5.000000, 5.000000, 5.000000, 4.000000]
  am: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CAAD0> [14]
R classes: ('numeric',)
[4.000000, 4.000000, 1.000000, 1.000000, ..., 4.000000, 6.000000, 8.000000, 2.000000]

In [17]:
# Converting an R dataframe to Pandas dataframe
from rpy2.robjects import pandas2ri
import rpy2.robjects as ro

# Recommended method of converting R to Pandas and vice versa using a context manager
with (ro.default_converter + pandas2ri.converter).context():
    r_mt_pdf = ro.conversion.get_conversion().rpy2py(r('mtcars_r'))

print(type(r_mt_pdf)) # Pandas dataframe that has been converted from R dataframe
r_mt_pdf.head()

<class 'pandas.core.frame.DataFrame'>

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

## Assigning Python objects to R namespace

In [18]:
ro.globalenv['python_pi10'] = np.pi * 10
%R python_pi10

array([31.41592654])

### Pandas Dataframe to R objects in R namespace

In [19]:
# Recommended method of converting R to Pandas and vice versa using a context manager
with (ro.default_converter + pandas2ri.converter).context():
    ro.globalenv['p_mt_pdf'] = ro.conversion.get_conversion().py2rpy(mtcars_pd)

r('p_mt_pdf |> head(5)')

<rpy2.robjects.vectors.DataFrame object at 0x0000016A4F9CBE90> [19]
R classes: ('data.frame',)
[FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  mpg: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9AEA10> [14]
R classes: ('numeric',)
[21.000000, 21.000000, 22.800000, 21.400000, 18.700000]
  cyl: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9ACE50> [14]
R classes: ('numeric',)
[6.000000, 6.000000, 4.000000, 6.000000, 8.000000]
  disp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9AF090> [14]
R classes: ('numeric',)
[160.000000, 160.000000, 108.000000, 258.000000, 360.000000]
  hp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CD290> [14]
R classes: ('numeric',)
[110.000000, 110.000000, 93.000000, 110.000000, 175.000000]
...
  wt: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CD610> [14]
R classes: ('numeric',)
[0.000000, 0.000000, 1.000000, 1.000000, 0.000000]
  qsec: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CD4D0> [14]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 0.000000, 0.000000]
  vs: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CD990> [14]
R classes: ('numeric',)
[4.000000, 4.000000, 4.000000, 3.000000, 3.000000]
  am: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x0000016A4F9CDC10> [14]
R classes: ('numeric',)
[4.000000, 4.000000, 1.000000, 1.000000, 2.000000]

## R Pipe Operators ( |> and %>%)
* Both operators allow a user to 'pipe' and object forward to a function or call expression, thereby allowing one to express a sequence of operations that transform an object.
* Functionality between the two operators are identical except for a few differences.
<br> Comparison documentation: https://www.tidyverse.org/blog/2023/04/base-vs-magrittr-pipe/

| \|> | %>% |
|:-:|:-:|
| Native R as of ver. 4.1.0 | Provided by magrittr package |
| Cannot be used with R prior to ver. 4.1.0 | Works as long as magrittr package is installed |

## Query, filtering, sampling

### .shape

In [20]:
mtcars_pd.shape

(32, 11)

In [21]:
%%R
# Standard R
dim(mtcars_r)

[1] 32 11

### .head()

In [22]:
mtcars_pd.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

In [23]:
%%R
# Standard R
head(mtcars_r) # Default returns 1st 6 rows

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [24]:
%%R
# Piping
mtcars_r |> head() # or mtcars_r %>% head()

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

### .iloc (Slicing)

In [25]:
mtcars_pd.iloc[:9] # 1st 9 rows

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0
Valiant,18.1,6.0,225.0,105.0,2.76,3.460,20.22,1.0,0.0,3.0,1.0
Duster 360,14.3,8.0,360.0,245.0,3.21,3.570,15.84,0.0,0.0,3.0,4.0
Merc 240D,24.4,4.0,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4.0,2.0
Merc 230,22.8,4.0,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4.0,2.0

In [26]:
%%R
# Standard R
slice(mtcars_r, 1:9)

                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2

In [27]:
%%R
# Dplyr
mtcars_r |> slice(1:9)

                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2

#### First value of a column

In [28]:
mtcars_pd['cyl'].iloc[0]

6.0

In [29]:
%%R
# Dplyr
mtcars_r |> summarize(first_value = first(mtcars_r$cyl))

  first_value
1           6

#### Last value of a column

In [30]:
mtcars_pd['cyl'].iloc[-1]

4.0

In [31]:
%%R
# Dplyr
mtcars_r |> summarize(last_value = last(mtcars_r$cyl))

  last_value
1          4

#### nth value of a column

In [32]:
n = 10
mtcars_pd['cyl'].iloc[n]

6.0

In [33]:
%%R
# Dplyr
n <- 10
mtcars_r |> summarize(n_value = nth(mtcars_r$cyl, n))

  n_value
1       6

### .query()

In [34]:
mtcars_pd.query('mpg > 20 & disp > 200')

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0

#### Logical and boolean operators to use with R filter()
See ?base::Logic and ?Comparison for help.

|equals/not equals|lesser/greater|equal & lesser/equal & greater|is null/not null|is in/not|or/and|exclusive or|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|==|<|<=|isna()|%in%|\||xor()|
|!=|>|>=|!is.na()|!|&|

In [35]:
%%R
# Standard R
filter(mtcars_r, mpg > 20, disp > 200)

                mpg cyl disp  hp drat    wt  qsec vs am gear carb
Hornet 4 Drive 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1

In [36]:
%%R
# Dplyr
mtcars_r |> filter(mpg > 20, disp > 200)

                mpg cyl disp  hp drat    wt  qsec vs am gear carb
Hornet 4 Drive 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1

#### Comparing columns

In [37]:
# Comparing columns
np.random.seed(0)
df_pd = pd.DataFrame({'a': np.random.randn(10), 'b': np.random.randn(10)})

# df_pd.query('a <= b') # option 1
# df_pd[df_pd['a'] <= df_pd['b']] #option 2
df_pd.loc[df_pd['a'] <= df_pd['b']] # option 3

          a         b
1  0.400157  1.454274
5 -0.977278  0.333674
6  0.950088  1.494079
8 -0.103219  0.313068

In [38]:
%%R
set.seed(0)
df_r <- data.frame(a=rnorm(10), b=rnorm(10))
# subset(df_r, a<= b) # option 1
df_r[df_r$a <= df_r$b, ] # note the comma # topion 2

             a          b
6 -1.539950042 -0.4115108
7 -0.928567035  0.2522234
9 -0.005767173  0.4356833

### Masking

In [39]:
mtcars_pd[(mtcars_pd.mpg > 20) & (mtcars_pd.disp > 200)]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0

In [40]:
%%R
mtcars_r[mtcars_r$mpg > 20 & mtcars_r$disp > 200, ] # the comma is neccesary

                mpg cyl disp  hp drat    wt  qsec vs am gear carb
Hornet 4 Drive 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1

#### Selecting data by columns

In [41]:
mtcars_pd[['mpg', 'disp']].head()

                    mpg   disp
Mazda RX4          21.0  160.0
Mazda RX4 Wag      21.0  160.0
Datsun 710         22.8  108.0
Hornet 4 Drive     21.4  258.0
Hornet Sportabout  18.7  360.0

#### Helper functions to use with R select(0 and across()
e.g. mtcars |> select(mpg:cyl)

||||
|:-:|:-:|:-:|
|contains(match)|num_range(prefix,range)| : (e.g., mpg:cyl)|
|ends_with(match)|all_of(x) / any_of(x,...,vars)| ! (e.g., !gear)|
|starts_with(match)|matches(match)|everything()|

In [42]:
%%R
# Standard R
head(select(mtcars_r, mpg, disp), 5)

                   mpg disp
Mazda RX4         21.0  160
Mazda RX4 Wag     21.0  160
Datsun 710        22.8  108
Hornet 4 Drive    21.4  258
Hornet Sportabout 18.7  360

In [43]:
%%R
# Dplyr
mtcars_r |> select(mpg, disp) |> head(5)

                   mpg disp
Mazda RX4         21.0  160
Mazda RX4 Wag     21.0  160
Datsun 710        22.8  108
Hornet 4 Drive    21.4  258
Hornet Sportabout 18.7  360

### .loc

In [44]:
mtcars_pd.loc[:, 'mpg':'disp'].head()

                    mpg  cyl   disp
Mazda RX4          21.0  6.0  160.0
Mazda RX4 Wag      21.0  6.0  160.0
Datsun 710         22.8  4.0  108.0
Hornet 4 Drive     21.4  6.0  258.0
Hornet Sportabout  18.7  8.0  360.0

In [45]:
%%R
# Standard R
head(select(mtcars_r, mpg:disp), 5)

                   mpg cyl disp
Mazda RX4         21.0   6  160
Mazda RX4 Wag     21.0   6  160
Datsun 710        22.8   4  108
Hornet 4 Drive    21.4   6  258
Hornet Sportabout 18.7   8  360

In [46]:
%%R
# Dplyr
mtcars_r |> select(mpg:disp) |> head(5)
# mtcars_r |> select('mpg':'disp') |> head(5)# alternative

                   mpg cyl disp
Mazda RX4         21.0   6  160
Mazda RX4 Wag     21.0   6  160
Datsun 710        22.8   4  108
Hornet 4 Drive    21.4   6  258
Hornet Sportabout 18.7   8  360

### .drop()

In [47]:
mtcars_pd.drop(['mpg'], axis=1).head()

                   cyl   disp     hp  drat     wt   qsec   vs   am  gear  carb
Mazda RX4          6.0  160.0  110.0  3.90  2.620  16.46  0.0  1.0   4.0   4.0
Mazda RX4 Wag      6.0  160.0  110.0  3.90  2.875  17.02  0.0  1.0   4.0   4.0
Datsun 710         4.0  108.0   93.0  3.85  2.320  18.61  1.0  1.0   4.0   1.0
Hornet 4 Drive     6.0  258.0  110.0  3.08  3.215  19.44  1.0  0.0   3.0   1.0
Hornet Sportabout  8.0  360.0  175.0  3.15  3.440  17.02  0.0  0.0   3.0   2.0

In [48]:
%%R
# Standard R
head(select(mtcars_r, -(mpg), 5))

                  cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant             6  225 105 2.76 3.460 20.22  1  0    3    1

In [49]:
%%R
# Dplyr
mtcars_r |> select(-(mpg)) |> head(5)

                  cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   8  360 175 3.15 3.440 17.02  0  0    3    2

### .drop_duplicates()

In [50]:
mtcars_pd[['cyl']].drop_duplicates()

                   cyl
Mazda RX4          6.0
Datsun 710         4.0
Hornet Sportabout  8.0

In [51]:
%%R
# Standard R
distinct(select(mtcars_r, cyl))

                  cyl
Mazda RX4           6
Datsun 710          4
Hornet Sportabout   8

In [52]:
%%R
# Dplyr
mtcars_r |> select(cyl) |> distinct()

                  cyl
Mazda RX4           6
Datsun 710          4
Hornet Sportabout   8

In [53]:
mtcars_pd[['cyl', 'gear']].drop_duplicates()

                   cyl  gear
Mazda RX4          6.0   4.0
Datsun 710         4.0   4.0
Hornet 4 Drive     6.0   3.0
Hornet Sportabout  8.0   3.0
Toyota Corona      4.0   3.0
Porsche 914-2      4.0   5.0
Ford Pantera L     8.0   5.0
Ferrari Dino       6.0   5.0

In [54]:
%%R
# Standard R
distinct(select(mtcars_r, cyl, gear))

                  cyl gear
Mazda RX4           6    4
Datsun 710          4    4
Hornet 4 Drive      6    3
Hornet Sportabout   8    3
Toyota Corona       4    3
Porsche 914-2       4    5
Ford Pantera L      8    5
Ferrari Dino        6    5

In [55]:
%%R
# Dplyr
mtcars_r |> distinct(cyl, gear)

                  cyl gear
Mazda RX4           6    4
Datsun 710          4    4
Hornet 4 Drive      6    3
Hornet Sportabout   8    3
Toyota Corona       4    3
Porsche 914-2       4    5
Ford Pantera L      8    5
Ferrari Dino        6    5

### .sample()

In [56]:
mtcars_pd.sample(n=1)

                mpg  cyl   disp    hp  drat    wt  qsec   vs   am  gear  carb
Porsche 914-2  26.0  4.0  120.3  91.0  4.43  2.14  16.7  0.0  1.0   5.0   2.0

In [57]:
%%R
# Standard R
sample_n(mtcars_r,1)

          mpg cyl  disp  hp drat   wt qsec vs am gear carb
Merc 280 19.2   6 167.6 123 3.92 3.44 18.3  1  0    4    4

In [58]:
%%R
# Dplyr
mtcars_r |> slice_sample(n=1)

          mpg cyl  disp  hp drat   wt qsec vs am gear carb
Merc 280 19.2   6 167.6 123 3.92 3.44 18.3  1  0    4    4

In [59]:
mtcars_pd.sample(frac=0.1)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
Camaro Z28,13.3,8.0,350.0,245.0,3.73,3.840,15.41,0.0,0.0,3.0,4.0

In [60]:
%%R
# Standard R
set.seed(0)
sample_frac(mtcars_r, 0.1)

                  mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Merc 450SLC      15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Pontiac Firebird 19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Hornet 4 Drive   21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1

In [61]:
%%R
# Dplyr
set.seed(0)
mtcars_r |> slice_sample(prop=0.1)

                  mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Merc 450SLC      15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Pontiac Firebird 19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Hornet 4 Drive   21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1

## Sorting

### .sort_values()

In [62]:
mtcars_pd.sort_values(['disp', 'mpg']).head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Toyota Corolla,33.9,4.0,71.1,65.0,4.22,1.835,19.90,1.0,1.0,4.0,1.0
Honda Civic,30.4,4.0,75.7,52.0,4.93,1.615,18.52,1.0,1.0,4.0,2.0
Fiat 128,32.4,4.0,78.7,66.0,4.08,2.200,19.47,1.0,1.0,4.0,1.0
Fiat X1-9,27.3,4.0,79.0,66.0,4.08,1.935,18.90,1.0,1.0,4.0,1.0
Lotus Europa,30.4,4.0,95.1,113.0,3.77,1.513,16.90,1.0,1.0,5.0,2.0

In [63]:
%%R
# Standard R
head(arrange(mtcars_r, disp, mpg), 5)

                mpg cyl disp  hp drat    wt  qsec vs am gear carb
Toyota Corolla 33.9   4 71.1  65 4.22 1.835 19.90  1  1    4    1
Honda Civic    30.4   4 75.7  52 4.93 1.615 18.52  1  1    4    2
Fiat 128       32.4   4 78.7  66 4.08 2.200 19.47  1  1    4    1
Fiat X1-9      27.3   4 79.0  66 4.08 1.935 18.90  1  1    4    1
Lotus Europa   30.4   4 95.1 113 3.77 1.513 16.90  1  1    5    2

In [64]:
%%R
# Dplyr
mtcars_r |> arrange(disp, mpg) |> head(5)

                mpg cyl disp  hp drat    wt  qsec vs am gear carb
Toyota Corolla 33.9   4 71.1  65 4.22 1.835 19.90  1  1    4    1
Honda Civic    30.4   4 75.7  52 4.93 1.615 18.52  1  1    4    2
Fiat 128       32.4   4 78.7  66 4.08 2.200 19.47  1  1    4    1
Fiat X1-9      27.3   4 79.0  66 4.08 1.935 18.90  1  1    4    1
Lotus Europa   30.4   4 95.1 113 3.77 1.513 16.90  1  1    5    2

In [65]:
mtcars_pd.sort_values('disp', ascending=False).head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Cadillac Fleetwood,10.4,8.0,472.0,205.0,2.93,5.250,17.98,0.0,0.0,3.0,4.0
Lincoln Continental,10.4,8.0,460.0,215.0,3.00,5.424,17.82,0.0,0.0,3.0,4.0
Chrysler Imperial,14.7,8.0,440.0,230.0,3.23,5.345,17.42,0.0,0.0,3.0,4.0
Pontiac Firebird,19.2,8.0,400.0,175.0,3.08,3.845,17.05,0.0,0.0,3.0,2.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

In [66]:
%%R
# Standard R
head(arrange(mtcars_r, desc(disp)), 5)

                     mpg cyl disp  hp drat    wt  qsec vs am gear carb
Cadillac Fleetwood  10.4   8  472 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8  460 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8  440 230 3.23 5.345 17.42  0  0    3    4
Pontiac Firebird    19.2   8  400 175 3.08 3.845 17.05  0  0    3    2
Hornet Sportabout   18.7   8  360 175 3.15 3.440 17.02  0  0    3    2

In [67]:
%%R
# Dplyr
mtcars_r |> arrange(desc(disp)) |> head(5)

                     mpg cyl disp  hp drat    wt  qsec vs am gear carb
Cadillac Fleetwood  10.4   8  472 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8  460 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8  440 230 3.23 5.345 17.42  0  0    3    4
Pontiac Firebird    19.2   8  400 175 3.08 3.845 17.05  0  0    3    2
Hornet Sportabout   18.7   8  360 175 3.15 3.440 17.02  0  0    3    2

## Transforming

### .rename()

In [68]:
mtcars_pd.rename(columns={'mpg': 'miles_per_gallong'}).head()

,miles_per_gallong,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

In [69]:
%%R
# Standard R
head(rename(mtcars_r, miles_per_gallon=mpg),5) # new_col_name= old_col_name

                  miles_per_gallon cyl disp  hp drat    wt  qsec vs am gear
Mazda RX4                     21.0   6  160 110 3.90 2.620 16.46  0  1    4
Mazda RX4 Wag                 21.0   6  160 110 3.90 2.875 17.02  0  1    4
Datsun 710                    22.8   4  108  93 3.85 2.320 18.61  1  1    4
Hornet 4 Drive                21.4   6  258 110 3.08 3.215 19.44  1  0    3
Hornet Sportabout             18.7   8  360 175 3.15 3.440 17.02  0  0    3
                  carb
Mazda RX4            4
Mazda RX4 Wag        4
Datsun 710           1
Hornet 4 Drive       1
Hornet Sportabout    2

In [70]:
%%R
# Dplyr
mtcars_r |> rename(miles_per_gallon2=mpg) |> head(5) # new_col_name= old_col_name

                  miles_per_gallon2 cyl disp  hp drat    wt  qsec vs am gear
Mazda RX4                      21.0   6  160 110 3.90 2.620 16.46  0  1    4
Mazda RX4 Wag                  21.0   6  160 110 3.90 2.875 17.02  0  1    4
Datsun 710                     22.8   4  108  93 3.85 2.320 18.61  1  1    4
Hornet 4 Drive                 21.4   6  258 110 3.08 3.215 19.44  1  0    3
Hornet Sportabout              18.7   8  360 175 3.15 3.440 17.02  0  0    3
                  carb
Mazda RX4            4
Mazda RX4 Wag        4
Datsun 710           1
Hornet 4 Drive       1
Hornet Sportabout    2

In [71]:
mtcars_pd.rename(columns={'mpg':'miles_per_gallon'})['miles_per_gallon'].head()

Mazda RX4            21.0
Mazda RX4 Wag        21.0
Datsun 710           22.8
Hornet 4 Drive       21.4
Hornet Sportabout    18.7
Name: miles_per_gallon, dtype: float64

In [72]:
%%R
# Standard R
head(select(mtcars_r, miles_per_gallon=mpg),5)

                  miles_per_gallon
Mazda RX4                     21.0
Mazda RX4 Wag                 21.0
Datsun 710                    22.8
Hornet 4 Drive                21.4
Hornet Sportabout             18.7

### .assign()

In [73]:
mtcars_pd.assign(disp_per_cyl=mtcars_pd['disp']/mtcars_pd['cyl']).head()
# mtcars_pd['disp_per_cyl'] = mtcars_pd['disp']/mtcars_pd['cyl'] # alternative

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,disp_per_cyl
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,26.666667
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,26.666667
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,27.000000
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,43.000000
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,45.000000

In [74]:
%%R
# Standard R
head(mutate(mtcars_r, disp_per_cyl=disp/cyl), 5)

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
                  disp_per_cyl
Mazda RX4             26.66667
Mazda RX4 Wag         26.66667
Datsun 710            27.00000
Hornet 4 Drive        43.00000
Hornet Sportabout     45.00000

In [75]:
%%R
# Dplyr
mtcars_r |> mutate(disp_per_cyl=disp/cyl) |> head(5)

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
                  disp_per_cyl
Mazda RX4             26.66667
Mazda RX4 Wag         26.66667
Datsun 710            27.00000
Hornet 4 Drive        43.00000
Hornet Sportabout     45.00000

## Grouping and Summarizing

### .describe()

In [76]:
mtcars_pd.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [77]:
%%R
# Standard R
summary(mtcars_r)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [78]:
%%R
# Dplyr
mtcars_r |> summary()

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [79]:
mtcars_pd.mean(axis=0) # column wise mean operation

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [80]:
%%R
# Dplyr
mtcars_r |> summarize(across(everything(), mean))

       mpg    cyl     disp       hp     drat      wt     qsec     vs      am
1 20.09062 6.1875 230.7219 146.6875 3.596563 3.21725 17.84875 0.4375 0.40625
    gear   carb
1 3.6875 2.8125

In [81]:
mtcars_pd.mean(axis=1).head() # row-wise mean operation

Mazda RX4            29.907273
Mazda RX4 Wag        29.981364
Datsun 710           23.598182
Hornet 4 Drive       38.739545
Hornet Sportabout    53.664545
dtype: float64

In [82]:
%%R
# Dplyr
# mutate() creates new variable(column)
# .keep='none' will not return columns used to create new variable
mtcars_r |> rowwise() |> mutate(total=mean(c_across(everything())), .keep='none') |>head(5)

# A tibble: 5 x 1
# Rowwise:
  total
  <dbl>
1  29.9
2  30.0
3  23.6
4  38.7
5  53.7

In [83]:
%%R
# Dplyr
# mutate() creates new variable(column)
mtcars_r |> rowwise() |> mutate(total=mean(c_across(everything()))) |> head(5)

# A tibble: 5 x 12
# Rowwise:
    mpg   cyl  disp    hp  drat    wt  qsec    vs    am  gear  carb total
  <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
1  21       6   160   110  3.9   2.62  16.5     0     1     4     4  29.9
2  21       6   160   110  3.9   2.88  17.0     0     1     4     4  30.0
3  22.8     4   108    93  3.85  2.32  18.6     1     1     4     1  23.6
4  21.4     6   258   110  3.08  3.22  19.4     1     0     3     1  38.7
5  18.7     8   360   175  3.15  3.44  17.0     0     0     3     2  53.7

### .groupby()

In [84]:
mtcars_pd.groupby('cyl')

In [85]:
%%R
gdf <- group_by(mtcars, cyl)

### .groupby() + . agg()

In [86]:
mtcars_pd.groupby('cyl').agg({'mpg':'mean'})

           mpg
cyl
4.0  26.663636
6.0  19.742857
8.0  15.100000

In [90]:
%%R
# Standard R
gdf <- group_by(mtcars_r, cyl)
summarise(gdf, avg=mean(mpg, na.rm=TRUE))

# A tibble: 3 x 2
    cyl   avg
  <dbl> <dbl>
1     4  26.7
2     6  19.7
3     8  15.1

In [91]:
%%R
# Dplyr
mtcars_r |> group_by(cyl) |> summarize(avg=mean(mpg))

# A tibble: 3 x 2
    cyl   avg
  <dbl> <dbl>
1     4  26.7
2     6  19.7
3     8  15.1

In [93]:
mtcars_pd.groupby(['cyl', 'gear']).agg({'disp':'mean', 'hp':'mean'})

                disp          hp
cyl gear
4.0 3.0   120.100000   97.000000
    4.0   102.625000   76.000000
    5.0   107.700000  102.000000
6.0 3.0   241.500000  107.500000
    4.0   163.800000  116.500000
    5.0   145.000000  175.000000
8.0 3.0   357.616667  194.166667
    5.0   326.000000  299.500000

In [94]:
%%R
# Standard R
aggregate(x=mtcars_r[, c('disp','hp')], by=list(mtcars_r$cyl, mtcars_r$gear), FUN=mean)

  Group.1 Group.2     disp       hp
1       4       3 120.1000  97.0000
2       6       3 241.5000 107.5000
3       8       3 357.6167 194.1667
4       4       4 102.6250  76.0000
5       6       4 163.8000 116.5000
6       4       5 107.7000 102.0000
7       6       5 145.0000 175.0000
8       8       5 326.0000 299.5000

## Slicing

### Slicing using column names

In [95]:
mtcars_pd[['mpg', 'cyl']].head()

                    mpg  cyl
Mazda RX4          21.0  6.0
Mazda RX4 Wag      21.0  6.0
Datsun 710         22.8  4.0
Hornet 4 Drive     21.4  6.0
Hornet Sportabout  18.7  8.0

In [96]:
%%R
# Standard R
head(mtcars_r[, c('mpg','cyl')], 5)

                   mpg cyl
Mazda RX4         21.0   6
Mazda RX4 Wag     21.0   6
Datsun 710        22.8   4
Hornet 4 Drive    21.4   6
Hornet Sportabout 18.7   8

### Slicing using integer location

In [97]:
mtcars_pd.iloc[:,0:2].head()

                    mpg  cyl
Mazda RX4          21.0  6.0
Mazda RX4 Wag      21.0  6.0
Datsun 710         22.8  4.0
Hornet 4 Drive     21.4  6.0
Hornet Sportabout  18.7  8.0

In [98]:
%%R
# Standard R
head(mtcars_r[, c(1:2)], 5)

                   mpg cyl
Mazda RX4         21.0   6
Mazda RX4 Wag     21.0   6
Datsun 710        22.8   4
Hornet 4 Drive    21.4   6
Hornet Sportabout 18.7   8

### .isin() R: match / %in%

In [99]:
s = pd.Series(range(0,5)) # 0,1,2,3,4
s.isin([2,4])

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [100]:
%%R
s <- 0:4
s %in% c(2,4)

[1] FALSE FALSE  TRUE FALSE  TRUE

### .pivot_table() R: tapply

In [118]:
import random
import string
import numpy as np

baseball_pd = pd.DataFrame(
    {
        'team': [f'team {x+1:d}' for x in range(5)] * 5,
        'player': random.sample(list(string.ascii_lowercase), 25),
        'batting avg': np.random.uniform(0.2, 0.4, 25),
    }
)

baseball_pd.pivot_table(values='batting avg', columns='team', aggfunc='max')

team           team 1    team 2    team 3    team 4    team 5
batting avg  0.395724  0.359832  0.378355  0.392733  0.374002

In [119]:
%%R
baseball_r <- data.frame(team = gl(5,5,labels = paste('Team', LETTERS[1:5])), player = sample(letters, 25), batting.average = runif(25,.2,.4))

tapply(baseball_r$batting.average, baseball_r$team, max)

   Team A    Team B    Team C    Team D    Team E
0.3654747 0.3641893 0.3578712 0.3464627 0.3722419

### .eval() R: with

In [120]:
mtcars_pd.eval('disp / cyl').head()

Mazda RX4            26.666667
Mazda RX4 Wag        26.666667
Datsun 710           27.000000
Hornet 4 Drive       43.000000
Hornet Sportabout    45.000000
dtype: float64

In [121]:
%%R
# head(with(mtcars_r, disp/cyl),5) # option 1
head(mtcars_r$disp / mtcars$cyl, 5) # option 2

[1] 26.66667 26.66667 27.00000 43.00000 45.00000

## Vectorized Functions
R: To use in conjunction with mutate()

### .shift()

In [122]:
mtcars_pd['carb'].shift(1).head()

Mazda RX4            NaN
Mazda RX4 Wag        4.0
Datsun 710           4.0
Hornet 4 Drive       1.0
Hornet Sportabout    1.0
Name: carb, dtype: float64

In [123]:
%%R
# Dplyr Creates new column and offset elements by 1
mtcars_r |> select(carb) |> mutate(carb_lag=lag(mtcars_r$carb,1 )) |> head(5)

                  carb carb_lag
Mazda RX4            4       NA
Mazda RX4 Wag        4        4
Datsun 710           1        4
Hornet 4 Drive       1        1
Hornet Sportabout    2        1

In [124]:
%%R
# Dplyr Creates new column and offset elements by -1
mtcars_r |> select(carb) |> mutate(carb_lead=lead(mtcars_r$carb,1 )) |> head(5)

                  carb carb_lead
Mazda RX4            4         4
Mazda RX4 Wag        4         1
Datsun 710           1         1
Hornet 4 Drive       1         2
Hornet Sportabout    2         1

### .cumprod()

In [125]:
mtcars_pd['carb'].cumprod().head()

Mazda RX4             4.0
Mazda RX4 Wag        16.0
Datsun 710           16.0
Hornet 4 Drive       16.0
Hornet Sportabout    32.0
Name: carb, dtype: float64

In [127]:
%%R
# Dplyr
mtcars_r |> select(carb) |> mutate(carb_cumprod=cumprod(mtcars_r$carb)) |> head(5)

                  carb carb_cumprod
Mazda RX4            4            4
Mazda RX4 Wag        4           16
Datsun 710           1           16
Hornet 4 Drive       1           16
Hornet Sportabout    2           32

### .cumsum()

In [128]:
mtcars_pd['carb'].cumsum().head()

Mazda RX4             4.0
Mazda RX4 Wag         8.0
Datsun 710            9.0
Hornet 4 Drive       10.0
Hornet Sportabout    12.0
Name: carb, dtype: float64

In [129]:
%%R
# Dplyr
mtcars_r |> select(carb) |> mutate(carb_cumsum=cumsum(mtcars_r$carb)) |> head(5)

                  carb carb_cumsum
Mazda RX4            4           4
Mazda RX4 Wag        4           8
Datsun 710           1           9
Hornet 4 Drive       1          10
Hornet Sportabout    2          12

### .cummin()

In [130]:
mtcars_pd['carb'].cummin().head()

Mazda RX4            4.0
Mazda RX4 Wag        4.0
Datsun 710           1.0
Hornet 4 Drive       1.0
Hornet Sportabout    1.0
Name: carb, dtype: float64

In [131]:
%%R
# Dplyr
mtcars_r |> select(carb) |> mutate(carb_cummin=cummin(mtcars_r$carb)) |> head(5)

                  carb carb_cummin
Mazda RX4            4           4
Mazda RX4 Wag        4           4
Datsun 710           1           1
Hornet 4 Drive       1           1
Hornet Sportabout    2           1

### .cummax()

In [132]:
mtcars_pd['carb'].cummax().head()

Mazda RX4            4.0
Mazda RX4 Wag        4.0
Datsun 710           4.0
Hornet 4 Drive       4.0
Hornet Sportabout    4.0
Name: carb, dtype: float64

In [133]:
%%R
# Dplyr
mtcars_r |> select(carb) |> mutate(carb_cummax=cummax(mtcars_r$carb)) |> head(5)

                  carb carb_cummax
Mazda RX4            4           4
Mazda RX4 Wag        4           4
Datsun 710           1           4
Hornet 4 Drive       1           4
Hornet Sportabout    2           4

### Mathematical operations
* Arithmetic: |, -, *, /, ^, %/%, %%
* logs: log(), log2(), log10()
* logical: <, <=, >, >=, !=, ==

In [134]:
mtcars_pd['mpg'].apply(np.log).head()

Mazda RX4            3.044522
Mazda RX4 Wag        3.044522
Datsun 710           3.126761
Hornet 4 Drive       3.063391
Hornet Sportabout    2.928524
Name: mpg, dtype: float64

In [135]:
%%R
# Dplyr
mtcars_r |> select(mpg) |> mutate(log(mpg)) |> head()

                   mpg log(mpg)
Mazda RX4         21.0 3.044522
Mazda RX4 Wag     21.0 3.044522
Datsun 710        22.8 3.126761
Hornet 4 Drive    21.4 3.063391
Hornet Sportabout 18.7 2.928524
Valiant           18.1 2.895912

### Multi-case

In [136]:
# np.select, np.where or lambda function
condlist = [mtcars_pd['cyl']>6, mtcars_pd['cyl']>4, mtcars_pd['cyl']<=4]
choicelist = ['large', 'medium', 'small']
mtcars_pd['cyl_size'] = np.select(condlist, choicelist, mtcars_pd['cyl'])
mtcars_pd.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,cyl_size
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,medium
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,medium
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,small
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,medium
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,large

In [140]:
%%R
# Dplyr
mtcars_r |> mutate(cyl_size=case_when(
    cyl>6 ~ 'large',
    cyl>4 ~ 'medium',
    cyl<=4 ~ 'small')) |> head(5)

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb cyl_size
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4   medium
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4   medium
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1    small
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1   medium
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2    large

## Summary Functions
R: To use in conjunction with summarize() or other masking verbs

### .count()

In [141]:
mtcars_pd.count()

mpg         32
cyl         32
disp        32
hp          32
drat        32
wt          32
qsec        32
vs          32
am          32
gear        32
carb        32
cyl_size    32
dtype: int64

In [142]:
%%R
# Dplyr
mtcars_r |> summarize(count=n()) |> head()

  count
1    32

### .nunique()

In [143]:
mtcars_pd['cyl'].nunique()

3

In [144]:
%%R
# Dplyr
mtcars_r |> select(cyl) |> summarize(cyl_types = n_distinct(mtcars_r$cyl))

  cyl_types
1         3

### .mean()

In [145]:
mtcars_pd['cyl'].mean()

6.1875

In [146]:
%%R
# Dplyr
mtcars_r |> select(cyl) |> summarize(cyl_mean = mean(mtcars_r$cyl))

  cyl_mean
1   6.1875

### .median()

In [147]:
mtcars_pd['cyl'].median()

6.0

In [148]:
%%R
# Dplyr
mtcars_r |> select(cyl) |> summarize(cyl_median = median(mtcars_r$cyl))

  cyl_median
1          6

### .quantile()

In [149]:
mtcars_pd['disp'].quantile([0.2,0.8])

0.2    120.14
0.8    350.80
Name: disp, dtype: float64

In [150]:
%%R
# Dplyr
mtcars_r |> reframe(disp_quantile = quantile(disp, c(0.2,0.8)))

  disp_quantile
1        120.14
2        350.80

### .min()

In [151]:
mtcars_pd['disp'].min()

71.1

In [152]:
%%R
# Dplyr
mtcars_r |> summarize(min(disp))

  min(disp)
1      71.1

### .max()

In [153]:
mtcars_pd['disp'].max()

472.0

In [154]:
%%R
# Dplyr
mtcars_r |> summarize(max(disp))

  max(disp)
1       472

### Interquartile Range (IQR)

In [157]:
IQR_pd = mtcars_pd['disp'].quantile(0.75) - mtcars_pd['disp'].quantile(0.25)
IQR_pd

205.175

In [158]:
%%R
# Dplyr
mtcars_r |> summarize(IQR(disp))

  IQR(disp)
1   205.175

### .mad() (mean absolute deviation)

In [176]:
# mtcars_pd['disp'].mad() # Deprecated
(mtcars_pd['disp'] - mtcars_pd['disp'].mean()).abs().mean()

108.78574218749999

In [177]:
%%R
# Dplyr
mtcars_r |> summarize(mad(disp)) # Note R defaults the center to the median not mean

  mad(disp, center = median(disp))
1                         140.4764

### .std() (Standard Deviation)

In [181]:
mtcars_pd['disp'].std()

123.93869383138194

In [182]:
%%R
# Dplyr
mtcars_r |> summarize(sd(disp))

  sd(disp)
1 123.9387

### .var (Variance)

In [183]:
mtcars_pd['disp'].var()

15360.799828629031

In [184]:
%%R
# Dplyr
mtcars_r |> summarize(var(disp))

  var(disp)
1   15360.8

## Columns to Row names and vice versa

### .reset_index() (rowname/index to column)

In [185]:
mtcars_pd.reset_index().head()

,index,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,cyl_size
0,Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,medium
1,Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,medium
2,Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,small
3,Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,medium
4,Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,large

In [187]:
%%R
# Dplyr & tibble
no_row_names_r <- mtcars_r |> tibble::rownames_to_column(var='index') |> head()
no_row_names_r

              index  mpg cyl disp  hp drat    wt  qsec vs am gear carb
1         Mazda RX4 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
2     Mazda RX4 Wag 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
3        Datsun 710 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
4    Hornet 4 Drive 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
5 Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
6           Valiant 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

### .set_index() (column to index/rowname)

In [189]:
no_index_pd = mtcars_pd.reset_index()
no_index_pd.set_index('index').head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,cyl_size
index,,,,,,,,,,,,
Mazda RX4,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0,medium
Mazda RX4 Wag,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0,medium
Datsun 710,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0,small
Hornet 4 Drive,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0,medium
Hornet Sportabout,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0,large

In [191]:
%%R
no_row_names_r |> tibble::column_to_rownames(var='index') |> head()

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

## Combining Tables

In [203]:
# Creating dataframes in both R and Python namespace
x_pd = pd.DataFrame({'a':np.random.randn(5), 'b':np.random.randint(0,100,5)})
y_pd = pd.DataFrame({'c':np.random.randn(5), 'd':np.random.randint(0,100,5)})

with (ro.default_converter + pandas2ri.converter).context():
    ro.globalenv['x_r'] = ro.conversion.get_conversion().py2rpy(x_pd)
    ro.globalenv['y_r'] = ro.conversion.get_conversion().py2rpy(y_pd)

### .concat()

In [204]:
pd.concat([x_pd, y_pd], axis=0) # top to bottom stacking

          a     b         c     d
0  1.787484  91.0       NaN   NaN
1 -0.569517   0.0       NaN   NaN
2  0.175387  14.0       NaN   NaN
3 -0.462506  99.0       NaN   NaN
4 -1.085801  53.0       NaN   NaN
0       NaN   NaN  0.639736  47.0
1       NaN   NaN -0.211952   3.0
2       NaN   NaN -0.080337  76.0
3       NaN   NaN  0.405398  52.0
4       NaN   NaN  0.118607  78.0

In [205]:
%%R
# Standard R
bind_rows(x_r, y_r) # top to bottom stacking

                a  b           c  d
0...1   1.7874840 91          NA NA
1...2  -0.5695173  0          NA NA
2...3   0.1753865 14          NA NA
3...4  -0.4625055 99          NA NA
4...5  -1.0858006 53          NA NA
0...6          NA NA  0.63973599 47
1...7          NA NA -0.21195226  3
2...8          NA NA -0.08033726 76
3...9          NA NA  0.40539778 52
4...10         NA NA  0.11860659 78

In [206]:
pd.concat([x_pd, y_pd], axis=1) # side to side stacking

          a   b         c   d
0  1.787484  91  0.639736  47
1 -0.569517   0 -0.211952   3
2  0.175387  14 -0.080337  76
3 -0.462506  99  0.405398  52
4 -1.085801  53  0.118607  78

In [207]:
%%R
# Standard R
bind_cols(x_r, y_r) # side to side stacking

           a  b           c  d
0  1.7874840 91  0.63973599 47
1 -0.5695173  0 -0.21195226  3
2  0.1753865 14 -0.08033726 76
3 -0.4625055 99  0.40539778 52
4 -1.0858006 53  0.11860659 78

## Joining Tables

In [208]:
y_pd = y_pd.iloc[:4] # removing the last line from y_pd
y_pd

          c   d
0  0.639736  47
1 -0.211952   3
2 -0.080337  76
3  0.405398  52

In [211]:
%%R
y_r <- y_r |> slice(0:4)
# converting the index to column
y_r <- y_r |> tibble::rownames_to_column(var='index_y')
x_r <- x_r |> tibble::rownames_to_column(var='index_x')

In [212]:
%R y_r

  index_y         c   d
1       0  0.639736  47
2       1 -0.211952   3
3       2 -0.080337  76
4       3  0.405398  52

In [213]:
%R x_r

  index_x         a   b
1       0  1.787484  91
2       1 -0.569517   0
3       2  0.175387  14
4       3 -0.462506  99
5       4 -1.085801  53

### .merge()

#### left join

In [214]:
# left join
pd.merge(x_pd, y_pd, how='left', left_index=True, right_index=True) # how argument can be 'left', 'right', 'outer', 'inner', 'cross'

          a   b         c     d
0  1.787484  91  0.639736  47.0
1 -0.569517   0 -0.211952   3.0
2  0.175387  14 -0.080337  76.0
3 -0.462506  99  0.405398  52.0
4 -1.085801  53       NaN   NaN

In [216]:
%%R
# Dplyr. Note theat it is difficult to join by index in R. Transform the index to a column before joining
# Use by = c('col1', 'col2',...) to specify one or more common columns to match on.
left_join(x_r, y_r, by=c('index_x'='index_y')) # if the columns to join in both data frames have the same name, 'by' argument can be a string. e.g. by='index'

  index_x          a  b           c  d
1       0  1.7874840 91  0.63973599 47
2       1 -0.5695173  0 -0.21195226  3
3       2  0.1753865 14 -0.08033726 76
4       3 -0.4625055 99  0.40539778 52
5       4 -1.0858006 53          NA NA

#### right join

In [217]:
# right join
pd.merge(x_pd, y_pd, how='right', left_index=True, right_index=True)

          a   b         c   d
0  1.787484  91  0.639736  47
1 -0.569517   0 -0.211952   3
2  0.175387  14 -0.080337  76
3 -0.462506  99  0.405398  52

In [218]:
%%R
# Dplyr. Note that it is difficult o join by index in R. Transform the index to a column before joining
right_join(x_r, y_r, by=c('index_x' = 'index_y'))

  index_x          a  b           c  d
1       0  1.7874840 91  0.63973599 47
2       1 -0.5695173  0 -0.21195226  3
3       2  0.1753865 14 -0.08033726 76
4       3 -0.4625055 99  0.40539778 52

#### inner join

In [219]:
# inner join
pd.merge(x_pd, y_pd, how='inner', left_index=True, right_index=True)

          a   b         c   d
0  1.787484  91  0.639736  47
1 -0.569517   0 -0.211952   3
2  0.175387  14 -0.080337  76
3 -0.462506  99  0.405398  52

In [220]:
%%R
# Dplyr. Note that it is difficult o join by index in R. Transform the index to a column before joining
inner_join(x_r, y_r, by=c('index_x' = 'index_y'))

  index_x          a  b           c  d
1       0  1.7874840 91  0.63973599 47
2       1 -0.5695173  0 -0.21195226  3
3       2  0.1753865 14 -0.08033726 76
4       3 -0.4625055 99  0.40539778 52

#### full(outer) join

In [221]:
# full(outer) join
pd.merge(x_pd, y_pd, how='outer', left_index=True, right_index=True)

          a   b         c     d
0  1.787484  91  0.639736  47.0
1 -0.569517   0 -0.211952   3.0
2  0.175387  14 -0.080337  76.0
3 -0.462506  99  0.405398  52.0
4 -1.085801  53       NaN   NaN

In [223]:
%%R
# Dplyr. Note that it is difficult o join by index in R. Transform the index to a column before joining
full_join(x_r, y_r, by=c('index_x' = 'index_y'))

  index_x          a  b           c  d
1       0  1.7874840 91  0.63973599 47
2       1 -0.5695173  0 -0.21195226  3
3       2  0.1753865 14 -0.08033726 76
4       3 -0.4625055 99  0.40539778 52
5       4 -1.0858006 53          NA NA

#### cross join

In [224]:
pd.merge(x_pd, y_pd, how='cross')

           a   b         c   d
0   1.787484  91  0.639736  47
1   1.787484  91 -0.211952   3
2   1.787484  91 -0.080337  76
3   1.787484  91  0.405398  52
4  -0.569517   0  0.639736  47
5  -0.569517   0 -0.211952   3
6  -0.569517   0 -0.080337  76
7  -0.569517   0  0.405398  52
8   0.175387  14  0.639736  47
9   0.175387  14 -0.211952   3
10  0.175387  14 -0.080337  76
11  0.175387  14  0.405398  52
12 -0.462506  99  0.639736  47
13 -0.462506  99 -0.211952   3
14 -0.462506  99 -0.080337  76
15 -0.462506  99  0.405398  52
16 -1.085801  53  0.639736  47
17 -1.085801  53 -0.211952   3
18 -1.085801  53 -0.080337  76
19 -1.085801  53  0.405398  52

In [225]:
%%R
# Dplyr
cross_join(x_r, y_r)

   index_x          a  b index_y           c  d
1        0  1.7874840 91       0  0.63973599 47
2        0  1.7874840 91       1 -0.21195226  3
3        0  1.7874840 91       2 -0.08033726 76
4        0  1.7874840 91       3  0.40539778 52
5        1 -0.5695173  0       0  0.63973599 47
6        1 -0.5695173  0       1 -0.21195226  3
7        1 -0.5695173  0       2 -0.08033726 76
8        1 -0.5695173  0       3  0.40539778 52
9        2  0.1753865 14       0  0.63973599 47
10       2  0.1753865 14       1 -0.21195226  3
11       2  0.1753865 14       2 -0.08033726 76
12       2  0.1753865 14       3  0.40539778 52
13       3 -0.4625055 99       0  0.63973599 47
14       3 -0.4625055 99       1 -0.21195226  3
15       3 -0.4625055 99       2 -0.08033726 76
16       3 -0.4625055 99       3  0.40539778 52
17       4 -1.0858006 53       0  0.63973599 47
18       4 -1.0858006 53       1 -0.21195226  3
19       4 -1.0858006 53       2 -0.08033726 76
20       4 -1.0858006 53       3  0.40539778 52